:root {
    --background-color: #141414e3;
    --input-background-color: rgba(45, 45, 45, 1);
    --text-color: #fff;
    --hover-color: rebeccapurple;
}

*, ::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ==================== Utility classes */
.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.padding-20 {
    padding: 10px 10px 0 10px;
}

.margin-Y-10 {
    margin: 10px 0;
}

.margin-Y-30 {
    margin: 30px 0;
}

.increase-font {
    font-size: 20px;
}

.text-color-black {
    color: black;
}

.text-color-fff {
    color: #fff;
}


body {
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    /* overflow-x: none; */

    background-color: var(--background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;  
    color: #333;
}

.main-container {
    height: 100%;
    width: 90%;
}


/* --------------------------- NAV MENU */
header {
    background-color: red;
    width: 100vw;
}

nav {
    background-color: black;
    padding: 0 20px;
}
.genre-dropdown-menu {
    width: 100px;
    margin: 10px 5px;
}

.logo {
    width: 120px;
}

.add-anime {
    width: 120px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: end;
}

/* --------------------------- CONTENT SECTION */
.anime-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.box {
    max-width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 5px;
    border: 5px;
    width: 175px;
}

.box:hover {
    position: relative;
    z-index: 1;
    background-color: var(--hover-color);
    transform: scale(1.1);
}

.anime-img {
    width: 100%;
    height: 200px;
}

.title-and-chevron-container {
    font-weight: 300;
    color: var(--text-color);
    height: 50px;
}

.anime-title {
    margin-right: 5px;
    text-align: center;
}

.anime-title:hover {
    cursor: pointer;
}

/* ----------------------------------- Aniem details Modal   */
.anime-card-info {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;


    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #333;
    color: var(--text-color);

    width: 100%;
    height: 100%;

    padding: 10px 20px;
    padding-top: 30px;

    overflow-y: scroll;
}
.anime-card-info img {
    max-width: 100%;
    max-height: 700px;
    margin: 10px 0;
}

/* this is anime description */
.anime-card-info p {
    margin-top: 20px;
    font-size: 18px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.buttons-container {
    margin-top: 20px;
}

.buttons-container button,
input[type="submit"] {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: var(--input-background-color);
    outline: none;
    border: 2px var(--text-color) solid;
    color: var(--text-color);
    font-weight: 300;
    transition: all 0.2s linear;
}

.buttons-container button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

/* ----------------------------------- Add anime list */

form {
    display: flex;
    flex-direction: column;

    border: 1px var(--text-color) solid;
    border-radius: 10px;
    padding: 20px;
}

.form-to-add-anime {
    margin-top: 20px;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.anime-description-input {
    height: 200px;
}

.submit-btn {
    margin-top: 15px;
    font-weight: bold;
}

.delete-anime,
.edit-anime { 
    font-weight: 600;
    font-size: 20px;
}

/* ----------------------------------- Edit Anime Modal */
input,
textarea {
    /* background-color: var(--input-background-color); */
    color: var(--text-color);
    border: 2px var(--text-color) solid;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 3px var(--hover-color) solid;
}

.search-for-anime {
    background-color: var(--text-color);
    width: 100%;
    margin: 20px 5px;
}

.genre-dropdown-menu {
    height: 42.4px;
    margin: 20px 0;
    font-size: 12px;
}

.unordered-list {
    max-width: 350px;
}

@media only screen and (min-width: 550px) {
    .anime-card-info img  {
        height: 700px;
        max-width: 100%;
    }

    .anime-card-info p {
        margin: 40px 0;
        padding-right: 50px;
    }
  }

@media only screen and (min-width: 900px) {
    .anime-card-info {
        top: 5%;
        left: calc(50% - 450px);
        width: 900px;
        padding: 50px 50px;
        height: 90%;

        display: grid;
        grid-template-areas: 
            'name img'
            'genre img'
            'episodes img'
            'episodes img'
            'description img'
            'description img'
            'description img'
            'description img'
            'description img'
            'buttons-container buttons-container'
        ;
    }

    .big-anime-img {
        grid-area: img;
    }
    .anime-name {
        grid-area: name;
        font-size: 40px;
    }
    .genre {
        grid-area: genre;
    }
    .episodes {
        grid-area: episodes;
    }
    .description {
        grid-area: description;
        margin-top: 0%;
    }
    .buttons-container {
        grid-area: buttons-container;
    }

    .anime-card-info p {
        margin: 40px 0;
    }
  }

  /* @media only screen and (min-width: 1200px) {
    .anime-card-info {
        top: 5%;
        left: calc(50% - 600px);
        max-width: 1200px;
        padding: 50px 150px;
    }
  } */