:root {
    --black-body-background-color: #141414;
    --white-text-color: #fff;
}

*, ::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ==================== Utility classes */
.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    overflow: none;

    background-color: var(--black-body-background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;  
    color: #333;
}

.main-container {
    height: 100%;
    width: 90%;
    background-color: rebeccapurple;
}


/* --------------------------- NAV MENU */
header {
    background-color: red;
    width: 100vw;
}

nav {
    background-color: black;
}
.genre-dropdown-menu {
    width: 100px;
}

.logo {
    width: 120px;
}

.add-anime {
    width: 120px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

/* --------------------------- CONTENT SECTION */
.box {
    width: 50%;
}

.anime-img {
    width: 100%;
}