:root {
    --background-color: #141414e3;
    --text-color: #fff;
}

*, ::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ==================== Utility classes */
.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.padding-20 {
    padding: 10px 10px 0 10px;
}

.margin-Y-10 {
    margin: 10px 0;
}

.increase-font {
    font-size: 20px;
}


body {
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    /* overflow-x: none; */

    background-color: var(--background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;  
    color: #333;
}

.main-container {
    height: 100%;
    width: 90%;
}


/* --------------------------- NAV MENU */
header {
    background-color: red;
    width: 100vw;
}

nav {
    background-color: black;
    padding: 0 20px;
}
.genre-dropdown-menu {
    width: 100px;
    margin: 10px 5px;
}

.logo {
    width: 120px;
}

.add-anime {
    width: 120px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

/* --------------------------- CONTENT SECTION */
.anime-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.box {
    max-width: 46%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 5px;
    border: 5px;
    width: 175px;
}

.box:hover {
    position: relative;
    z-index: 1;
    background-color: rebeccapurple;
    transform: scale(1.1);
}

.anime-img {
    max-width: 100%;
    max-height: 200px;
}

.title-and-chevron-container {
    font-weight: 300;
    color: var(--text-color);
    height: 50px;
}

.anime-title {
    margin-right: 5px;
    text-align: center;
}

.anime-title:hover {
    cursor: pointer;
}

/* ----------------------------------- Aniem details    */
.anime-card-info {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;


    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #333;
    color: var(--text-color);

    width: 100%;
    height: 100%;

    padding: 10px 20px;
    padding-top: 30px;

    overflow-y: scroll;
}
.anime-card-info img {
    width: 100%;
    margin: 10px 0;
}

.anime-card-info p {
    margin-top: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.1);
}



/* ----------------------------------- Add anime list */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.anime-description-input {
    height: 200px;
}

.submit-btn {
    margin-top: 15px;
    font-weight: bold;
}